.header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(#020c1b, .95), rgba(#020c1b, .95)), url(../img/Codes.jpg);
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: $bp-x-small) {
        min-height: 80vh;
    }

    &__text-box {
        width: 70%;
        margin: 0 auto;
        //position: absolute;
        //top: 25%;
        transform: translateY(25vh);
        line-height: 1.5;
        // left: 40%;
        // transform: translate(-50%, -50%);
        //transform: translateY(100%);

        @media only screen and (min-width: $bp-huge) {
            max-width: 160rem;
            margin: 0 auto;
        }

        @media only screen and (max-width: $bp-small) {
            width: 85%;
        }

        &--small {
            color: var(--color-cyan-lightest);
            font-size: clam(1.1rem, 3vw, 1.2rem);
            font-family: var(--font-mono);
            text-transform: uppercase;
        }

        &--large {
            font-size: clamp(3rem, 6vw, 7rem);
            color: var(--color-slate-lightest);
        }

        &--big {
            font-size: clamp(2.5rem, 5vw, 6rem);
        }

    }
}
