#nav {
    @media only screen and (min-width: 43.813em) {
        position: fixed;
        top: 0;
        transition: top .4s;
    }
}

.nav {
    background-color: rgba($color: #020c1b, $alpha: .85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 5rem;
    z-index: 10;
    box-shadow: 0 .5rem 3rem -1rem rgba(#101110, .1);
    position: relative;

    @media only screen and (max-width: $bp-small) {
        background-color: transparent;
    }

    svg {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        fill: none;
        transition: fill 1s;
        
    
        & * {
            font-family: var(--font-sans);
        }
    
        &:hover {
            fill: var(--hover-button);
        }
    }

    &__logo {
        max-width: 5rem;
    }

    &__list {
        list-style: none;
        display: flex;
        font-family: var(--font-mono);

        @media only screen and (max-width: $bp-small) {
            display: none;
        }
        
    }

    &__item {
        font-size: 1.5rem;
        
        
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__link {
        padding: 1rem 2rem;
        text-decoration: none;

        span {
            color: var(--color-cyan-lightest);
            margin-right: .5rem;
        }
        

        &:link,
        &:visited {
            color: var(--color-slate-dark);
            transition: all .2s;
        }

        &:hover,
        &:active {
            @include textHoverActive;
        }

        &:active,
        &:focus {
            @include textActiveFocus;
        }
    }
}

.navigation-small {
    position: absolute;
    right: 3rem;
    top: 3rem;
    
    visibility: hidden;

    @media only screen and (max-width: $bp-small) {
        visibility: visible;
    }
    
    &__checkbox {
        display: none;
    }

    &__button {
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 1299;
        text-align: center;
        cursor: pointer;
        border: 1px dashed var(--color-cyan-dark);

        &:active,
        &:focus {
            @include textActiveFocus;
        }

    }

    // &__background {
    //     height: 6rem;
    //     width: 6rem;
    //     border-radius: 50%;
    //     position: fixed;
    //     top: 6.5rem;
    //     right: 6.5rem;
    //     background-image: radial-gradient(yellowgreen, green);
    //     z-index: 999;
    //     transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

    // }

    &__nav {
        background-color: var(--color-navy-dark);
        height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 1199;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style: none;
        width: 100%;
    }

    &__item {
        margin-bottom: 1rem;
        color: var(--color-slate-dark);
    }

    &__link {
        color: var(--color-slate-dark);
        font-family: var(--font-mono);

        span {
                color: var(--color-cyan-lightest);
                font-size: 2rem;
                margin-right: 1.5rem;
        }

        &:link,
        &:active {
            font-size: 3rem;
            display: inline-block;
            padding:1rem 2rem;
            font-weight: 300;
            text-decoration: none;
            //background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-navy-darkest) 50%);
            background-size: 220%;
            transition: all .2s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: var(--color-cyan-lightest);
            transform: translateX(1rem);
        }

        &:active,
        &:focus {
            @include textActiveFocus;
        }
        
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        left: 0;
    }

    // Icon
    &__icon {
        position: relative;
        top: 50%;
        
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: var(--color-cyan-lightest);
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}



