section {
    width: 70%;
    //min-height: 100vh;
    margin: 15rem auto 0 auto;
    //smargin-top: 15rem;
    font-size: 1.6rem;
    font-family: var(--font-sans);

    &:not(:last-of-type) {
        margin-bottom: 15rem;
    }

    @media only screen and (min-width: $bp-huge) {
        max-width: 160rem;
    }

    @media only screen and (max-width: $bp-small) {
        width: 85%;
    }
}

.section {

    &__about{
        
        &-content {
            display: flex;
            //letter-spacing: ;

            @media only screen and (max-width: $bp-small) {
                flex-direction: column;
            }

            &--text {
                flex: 0 0 55%;

                & > * {
                    margin-top: 3rem;
                }

                .skill {
                    display: flex;
                    flex-wrap: wrap;
                    
                    &__item {
                        font-family: var(--font-mono);
                        font-size: 1.4rem;
                        flex: 0 0 50%;
                        
                        &::before {
                            content: "▹";
                            color: var(--color-cyan-lightest);
                            margin-right: 1.5rem;
                            display: inline-block;
                        }
                    }
                }
            }

            .img-box {
                margin-top: 3rem;
                margin-left: 5rem;
                width: 20vw;
                height: 20vw;
                max-width: 30rem;
                max-height: 30rem;
                position: relative;
                border-radius: var(--border-radius);
                

                @media only screen and (max-width: $bp-small) {
                    margin: 10rem auto 5rem auto;
                    width: 50vw;
                    height: 50vw;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border: 2px dashed var(--color-cyan-lightest);
                    border-radius: var(--border-radius);
                    display: block;
                    position: absolute;
                    top: 3rem;
                    left: 3rem;
                    z-index: 1;
                    transition: all .2s;
                }

                &:hover::after {
                    top: 2rem;
                    left: 2rem;
                }

                &__tint {
                    background-color: rgba(#91E4E6, 1);
                    mix-blend-mode: hue;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .2s;
                    z-index: 9;
                    border-radius: var(--border-radius);

                    &:hover {
                        background-color: rgba(#91E4E6, 0);
                    }
                }

                &__img {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 8;
                    border-radius: var(--border-radius);
                    
                }
            }
        }
    }

    &-contact {
        //height: 70vh;
        width: 50%;
        text-align: center;
        margin-bottom: 15rem;

        @media only screen and (max-width: $bp-small) {
            width: 70%;
        }

        @media only screen and (max-width: $bp-x-small) {
            width: 85%;
        }
    }
}
