.heading-second {
    font-size: 3.5rem;

    span {
        color: var(--color-cyan-lightest);
        font-family: var(--font-mono);
        font-size: 2rem;
        margin-right: .8rem;

    }

    &::after {
        content: "";
        height: .8px;
        width: 30rem;
        background-color: rgba(#8892b0, .5);
        display: inline-block;
        margin-left: 2rem;
        transform: translateY(-1rem);

        @media only screen and (max-width: $bp-small) {
            width: 40vw;
        }
    }
}

.heading-title {
    font-size: clamp(2.5rem, 5vw, 6rem);
    color: var(--color-slate-lightest);

}

.heading-second-colored {
    font-family: var(--font-mono);
    font-size: 1.5rem;
    color: var(--color-cyan-lightest);
}

.paragraph {
    font-family: var(--font-sans);
    font-size: 1.6rem;
}

