
.mg-bot-small { margin-bottom: 2rem; }
.mg-bot-medium { margin-bottom: 3rem; }
.mg-bot-large { margin-bottom: 4rem; }
.mg-bot-huge { margin-bottom: 8rem; }
.mg-bot-massive { margin-bottom: 10rem; }

.mg-top-small { margin-top: 2rem; }
.mg-top-medium { margin-top: 3rem; }
.mg-top-large { margin-top: 4rem; }
.mg-top-huge { margin-top: 8rem; }
.mg-top-massive { margin-top: 10rem; }

